Fastapi==0.115.5
uvicorn[standard]==0.32.1
python-multipart==0.0.20
python-dotenv==1.0.1
requests==2.32.3
numpy==1.26.4
pillow==11.0.0
pandas==2.2.3
openpyxl==3.1.5
XlsxWriter==3.2.0
prisma==0.11.0
imagekitio==3.2.4     
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
apscheduler==3.10.4
pytz==2024.1
fpdf2==2.7.9
pyjwt==2.9.0
openai==1.55.0