fastapi
uvicorn[standard]
python-multipart
python-dotenv
requests
numpy
pillow
pandas
openpyxl
XlsxWriter
prisma
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
apscheduler
pytz
fpdf2
pyjwt

